{% extends 'forumFunctional/base.html' %}
{% load static %}

{% block content %}
    <div class="all-users">
        {% for user in all_users %}
            {% if user.photo %}
                <a href="#"><img src="{{ user.photo.url }}" alt="User photo"></a>
            {% else %}
                <a href="#"><img src="{% static 'forumFunctional/images/default-avatar.png' %}" alt="User photo"></a>
            {% endif %}
            <a href="#">{{ user.username }}</a>
            <hr>
        {% endfor %}
    </div>
    {% if paginator.num_pages > 1 %}
        <div class="posts-pagination">
            {% for p in paginator.page_range %}
                <a href="?page={{ p }}">{{ p }}</a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}