{% extends 'forumFunctional/base.html' %}
{% load static %}

{% block content %}
    <div class="my-profile">
        {% if user.photo %}
            <img src="{{ user.photo.url }}" alt="Avatar">
        {% else %}
            <img src="{% static 'forumFunctional/images/default-avatar.png' %}" alt="Avatar">
        {% endif %}
            <p>Username: {{ user.username }}</p>
        {% if user.first_name %}
            <p>First name: {{ user.first_name }}</p>
        {% else %}
            <p>You have no first name</p>
        {% endif %}
        {% if user.last_name %}
            <p>Last name: {{ user.last_name }}</p>
        {% else %}
            <p>You have no last name</p>
        {% endif %}
        <p>Date of registration: {{ user.date_joined|date:"DATETIME_FORMAT" }}</p>
        <p>Posts which you created: </p>
        {% for post in posts %}
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        {% endfor %}
        <p>Post which you commented:</p>
        {% for post in commented_posts %}
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        {% endfor %}
        <a href="{% url 'edit_profile' %}" class="edit-profile">Edit profile</a>
    </div>
{% endblock %}