{% extends 'forumFunctional/base.html' %}

{% block content %}
    <div class="my-posts">
        {% if posts %}
            {% for post in posts %}
                {% if post.photo %}
                    <img src="{{ post.photo.url }}" alt="Post photo">
                {% endif %}
                <p>Post name: <a href="{{ post.get_absolute_url }}">{{ post.title }}</a> | Time created: {{ post.time_create }} | Time update: {{ post.time_update }}</p>
            {% endfor %}
        {% else %}
            <h1>You have no posts</h1>
        {% endif %}
    </div>
{% endblock %}