{% extends 'forumFunctional/base.html' %}
{% load static %}

{% block content %}
    <div class="my_profile">
        {% if user.photo %}
            <img src="{{ user.photo.url }}" alt="Avatar">
        {% else %}
            <img src="{% static 'forumFunctional/images/default-avatar.png' %}" alt="Avatar">
        {% endif %}
        {{ user.username }}
        {{ user.first_name }}
        {{ user.last_name }}
        {{ user.date_joined|date:"DATETIME_FORMAT" }}
        {% for post in posts %}
            {% if post.user_id == user.id %}
                <a href="#">{{ post.title }}</a>
            {% endif %}
        {% endfor %}
        {% for post in commented_posts %}
            <a href="#">{{ post.title }}</a>
        {% endfor %}
        <a href="{% url 'edit_profile' %}">Edit profile</a>
    </div>
{% endblock %}