{% extends 'forumFunctional/base.html' %}

{% block content %}
    <div class="post-selected">
        <h1>{{ post.title }}</h1>
        {% if post.photo %}
            <img src="{{ post.photo.url }}" alt="Post photo">
        {% endif %}
        <p>Post content: {{ post.content }}</p>
        <p>Time create: {{ post.time_create }}</p>
        <p>Username: <a href="{{ post.user.get_absolute_url }}">{{ post.user.username }}</a></p>
    </div>
    <div class="comments">
        {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add comment!</button>
        </form>
        {% endif %}
        {% for comment in comments %}
            <p>Comment content: {{ comment.content }}   |   Creator:
                {% if request.user.pk == comment.user.pk %}
                    <a href="{% url 'profile' %}">{{ comment.user }}</a></p>
                {% else %}
                    <a href="{{ comment.user.get_absolute_url }}">{{ comment.user }}</a></p>
                {% endif %}
        {% endfor %}
    </div>
{% endblock %}